@import "layout/header";
body {
  margin: 0;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color:white;
}
.card__options {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Courier New", Courier, monospace;
  &__title {
    font-size: 45px;
  }
  &__choose {
    font-size: 20px;
  }
  &__button {
    font-size: 20px;
  }
}

.card {
  height: 190px;
  width: 150px;
  border: 1px solid grey;
  background-repeat: no-repeat;
  background-image: url("https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB");
  background-size: auto;
  list-style: none;
}

.cardgame__list{
  display:flex;
  justify-content: space-around;
  margin:70px;

}

// .hidden{
//   display: none;
// }






