<section class="cards">
    <div class="cardoptions">
        <h1 class="cardoptions__title">El juego de las parejas</h1>
        <form class="cardoptions__choose">
            <label for="cardoption4">
                <input type="radio" id="cardoption4" value="4" name="cardoptions" />
                4
            </label>
            <label for="cardoption6">
                <input type="radio" id="cardoption6" value="6" name="cardoptions" />
                6
            </label>
            <label for="cardoption8">
                <input type="radio" id="cardoption8" value="8" name="cardoptions" />
                8
            </label>
            <button class="cardoptions__button js-button">comenzar</button>
        </form>
    </div>
    <div class="cardgame js-game">
        <div class="card1__game">1</div>
        <div class="card2__game">2</div>
        <div class="card3__game">3</div>
        <div class="card4__game">4</div>
        <div class="card5__game">5</div>
        <div class="card6__game">6</div>
        <div class="card7__game">7</div>
        <div class="card8__game">8</div>
    </div>
</section>