<section>
    <h1>El juego de las parejas</h1>
    <label for="cardoption4">
        <input type="checkbox" id="cardoption4" value="choosecard" name="cardoptions" />
        4
    </label>
    <label for="cardoption6">
        <input type="checkbox" id="cardoption6" value="choosecard" name="cardoptions" />
        6
    </label>
    <label for="cardoption8">
        <input type="checkbox" id="cardoption8" value="choosecard" name="cardoptions" />
        8
    </label>
    <button>comenzar</button>

</section>