<section class="cards">
    <div class="card__options">
        <form class="card__options__choose">
            <label for="cardoption4">
                <input class="js-radio" type="radio" id="cardoption4" value="4" name="cardoptions" />
                4
            </label>
            <label for="cardoption6">
                <input class="js-radio" type="radio" id="cardoption6" value="6" name="cardoptions" />
                6
            </label>
            <label for="cardoption8">
                <input class="js-radio" type="radio" id="cardoption8" value="8" name="cardoptions" />
                8
            </label>
            <button class="cardoptions__button js-button">comenzar</button>

        </form>

    </div>
</section>
<section class="cardgame">
    <ul class="cardgame__list js-list"></ul>
</section>